@import 'https://fonts.googleapis.com/css?family=Poiret+One';
/* Custom Code Here */
.container .check {
  text-indent: 0px;
  padding: 0px;
  float: left;
}
.container .check input {
  display: none;
}
.container .check input:checked + label .box {
  -webkit-animation: animOn 0.6s 1 forwards;
          animation: animOn 0.6s 1 forwards;
  background-color: #ffbb05;
}
.container .check input:checked + label .box i {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  opacity: 1;
}
.container .check label {
  min-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 20px;
  cursor: pointer;
}
.container .check label .box {
  background-color: rgba(239, 235, 236, 1);
  border-radius: 5px;
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-transition: background 300ms ease;
  transition: background 300ms ease;
  margin: 5px 0px 0px 0px;
}
.container .check label .box:hover {
  background-color: rgba(170, 165, 161, 1);
}
.container .check label .box i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transform: translate(-50%, -50%) scale(6);
          transform: translate(-50%, -50%) scale(6);
}
/*
@-webkit-keyframes animOn {
  40% {
    height: 20px;
    width: 100px;
  }
  60% {
    height: 60px;
    width: 40px;
  }
  75% {
    height: 35px;
    width: 60px;
  }
  100% {
    height: 50px;
    width: 50px;
  }
}

@keyframes animOn {
  40% {
    height: 20px;
    width: 100px;
  }
  60% {
    height: 60px;
    width: 40px;
  }
  75% {
    height: 35px;
    width: 60px;
  }
  100% {
    height: 50px;
    width: 50px;
  }
}*/
/* end of custom code */