
/* -- Background colors --*/
.principal-white{
	background-color: #ffbb05;
	color : rgba(239, 235, 236, 1);
}

.principal-black{
	background-color: #ffbb05;
	color : rgba(12, 15, 26, 1);
}

.secondary{
	background-color: rgba(170, 165, 161, 1);
	color : rgba(12, 15, 26, 1);
}

.warning{
	background-color: rgba(136, 15, 15, 1);
	color : rgba(239, 235, 236, 1);
}

.black{
	background-color: rgba(12, 15, 26, 1);
	color: rgba(239, 235, 236, 1);
}

.white{
	background-color: rgba(239, 235, 236, 1);
	color: rgba(12, 15, 26, 1);
}


/* -- Text colors --*/

.principal-text{
	color: #ffbb05;
}

.secondary-text{
	color: rgba(170, 165, 161, 1);
}

.warning-text{
	color: rgba(136, 15, 15, 1);
}

.black-text{
	color: rgba(12, 15, 26, 1);
}

.white-text{
	color: rgba(239, 235, 236, 1);
}
