/* CSS talk bubble */
.talk-bubble {
	margin: 40px;
	display: inline-block;
	position: relative;
  height: auto;
	background-color: #ffbb05;
	border-radius : 5px;
	text-align: center;
	color : white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: #ffbb05 #ffbb05 
    transparent transparent;
}
/* talk bubble contents */
.talktext{
  padding: 10px;
	text-align: center;
  line-height: 1.5em;
  color : white;
}
.talktext a{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  	text-align: center;
  	color : white;
  	margin: 0px;
}

a{
  color : rgb(237, 148, 5);
}

a:hover{
  color : rgb(227, 10, 5);
}
 
a:visited{
  color : rgba(12, 15, 26, 1);
}