
@font-face {
    font-family: "Permanet Marker";
    src: url(../fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: "Architects Daughter";
    src: url(../fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}

.title-font{
	font-family: "Permanet Marker", Verdana, Tahoma;
}

.text-font{
	font-family: "Architects Daughter", Verdana, Tahoma;
}

.text-size16{
	font-size: 16px;
}