.triangle{
	width: 0;
	height: 0;
	border-style: solid;
	margin: -20px 190px;
	border-width: 25px 20px 0 0;
	/*border-color: #1abc9c transparent transparent transparent;*/
	border-color: black transparent transparent transparent;
}

.triangle-hover{
	border-color: white transparent transparent transparent;
}

.slidebar-hover{
	background-color: white;
}