
.reset-div, .reset-img{
	margin: 0px;
	padding: 0px;
}

.reset-div2{
	margin: 0px;
	padding: 5px 15px 5px 15px;
}

.reset-input{
	box-sizing: border-box;
	border: 1px solid #ccc;
 	border-radius: 2px;
	color: #2c3e50;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.0);
}

.reset-a{
	color : #ecf0f1;
	text-decoration:none;
	font-size: 15px;
}

.reset-a:hover{
	color : #2c3e50;
	text-decoration:none;
}

.reset-label{
	font-size: 15px;
	margin-bottom: 0px;
}
.reset-p{
	margin: 3px 0px;
}