::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffbd05;
  border: 0px none rgba(0,0,0,0);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cc8e00;
}
::-webkit-scrollbar-thumb:active {
  background: #ffb405;
}
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
  border: 0px none rgba(0,0,0,0);
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(0,0,0,0);
}
::-webkit-scrollbar-track:active {
  background: rgba(0,0,0,0);
}
::-webkit-scrollbar-corner {
  background: transparent;
}